<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/1.0.0/annyang.min.js"></script>
  <script defer src="/js/application.js"></script>
  <script defer src="/js/voiceHelp.js"></script>
  <title>BabushkinPomoshnik</title>
</head>

<body>
  <nav class="light-blue darken-2">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo logot">Babushkin Pomoshnik</a>
        <a href="/" class="brand-logo logot2">BP</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">{{name}}</a></li>
          {{#if name}}
          <li><a href="/logout">logout</a></li>
          <li><a href="/list">list</a></li>
          {{else}}
          <li><a href="/auth">login</a></li>
          {{/if}}
          <li><a href="/">home</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">{{name}}</a></li>
    {{#if name}}
    <li><a href="/logout">logout</a></li>
    <li><a href="/list">list</a></li>
    {{else}}
    <li><a href="/auth">login</a></li>
    {{/if}}
    <li><a href="/">home</a></li>
  </ul>
  <div class="container">
    {{{body}}}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
